
body {
    background: #ffffff;
    font-family: Palatino;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/* Navbar */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  background-color: #ffffff;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > li > a:hover{
    background-color: #1C9D43;
    color: #000000;
}

.nav-sidebar > a:focus {
    color: #000000;
    background-color: #1C9D43;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover

/* Main content*/
@media (min-width: 768px) {
  .main {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.main .page-header {
  margin-top: 0;
}


/* Container */
div#traffic_container {
  height: 600px;
  margin: auto;
  padding: 10px;
  margin-bottom: 220px;
}

div#poi_container {
  height: 600px;
  padding-top: 10px;
  margin-bottom: 200px;
}

div#overview_container {
}

h3#compare_headline {
    margin-left: 32.5%;
}

/* Maps */
div#map_compare_id {
    height: 600px;
    width: 42%;
    float: left;
    padding: 10px;
}

div#map_traffic_id {
    height: 600px;
    width: 42%;
    float: left;
    margin-right: 20px;
}

div#map_poi_id {
    height: 500px;
    width: 100%;
    margin: auto;
}


/* Traffic Maps Legend */
div#sidebar {
    height: 600px;
    width: 6%;
    float: left;
    margin-left: 15px;
}

table#traffic_legend {
    table-layout: fixed;
    width: 100%;
}

table#sideInfo_legend {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

.sideInfo_legend_icon {
    padding-left: 30px;

}

.sideInfo_legend_text {
    padding-left: 5px;

}

td {
    padding-top: 15px;
}


/* Slider */
.slide_container {
    width: 86%; /* Width of the outside container */
    padding: 10px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 100%; /* Full-width */
    height: 25px;
    background: #A4A3B0;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    width: 44px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: url(../img/car_slider.png); /* Car as slider icon */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 44px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: url(../img/car_slider.png); /* Car as slider icon */
    cursor: pointer; /* Cursor on hover */
}

/* Tableau Vis */
div#overview_16 {
    height: 610px;
    width: 44%;
    float: left;
    padding: 10px;
}

div#overview_23 {
    height: 600px;
    width: 54%;
    float: left;
    margin-right: 20px;
}

hr#vis_hr{ /* Put text below vis */
    width: 60%;
    height: 1px;
    margin-top: 5px;
}


/* Footer */
hr#footer_hr {
    width: 60%;
    height: 1px;
    margin-top: 5px;
    background-color: #ffffff;
}

footer {
    background-color: #A4A3B0;
    color: #ffffff;
    text-align: center;
}


/* Formatting Site */
h1, h2, span, p, td, legend, a, ul {
    font-family: "Palatino";
    color: #000000;
}

.navbar{
    background-color: #262629;
}

.navbar-brand{
    color: #C6C4D4;
}

.text {
    font-family: "Palatino";
    font-size: 20px;
    text-align: justify;
}

.text_slider {
    font-family: "Palatino";
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
}


