/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #1C9D43;
}


/*
 * Main content
 */

@media (min-width: 768px) {
  .main {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.main .page-header {
  margin-top: 0;
}


/* Container */
div#container {
  height: 600px;
  margin: auto;
  padding: 10px;
  margin-bottom: 100px;
}

div#containerTwo {
  height: 600px;
  padding-top: 10px;
  margin-top: 2%;
  margin-bottom: 100px;
}

div#containerThree {
    margin-top: 2%;
}

div#sidebar {
    height: 600px;
    width: 6%;
    float: left;
    margin-left: 15px;
}

table#traffic_legend {
    table-layout: fixed;
    width: 100%;
}

table#sideInfo_legend {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

.sideInfo_legend_icon {
    padding-left: 30px;

}

.sideInfo_legend_text {
    padding-left: 5px;

}

td {
    padding-top: 15px;
}

/* Karten */
div#map_compare_id {
  height: 600px;
  width: 42%;
  float: left;
  padding: 10px;
}

div#map_traffic_id {
  height: 600px;
  width: 42%;
  float: left;
  margin-right: 20px;
}

div#map_poi_id {
  height: 500px;
  width: 100%;
  margin: auto;
}
/* Ende Karten */


/* Slider */
.slidecontainer {
    width: 86%; /* Width of the outside container */
    padding: 10px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 44px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: url(../img/car_slider.png); /* Car as slider icon */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 44px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: url(../img/car_slider.png); /* Car as slider icon */
    cursor: pointer; /* Cursor on hover */
}

/* Ende Slider */


/* Footer */
div#footer {
    margin-top: 30px;
}
