body{
    background-color: #F5ECCE
}

.karte_headline{
    font-family: verdana;
    text-align: center;
    font-size: 30px;
}

#footer {
    position: fixed;
    background-color: #F7F8E0;
    height: 50px;
    width: 100%;
    bottom: 0px;
}

#footer_text{
    font-family: verdana;
    font-size: 13px;
    text-align: center;
}

/* NAVIGATION*/
.navigation {
    overflow: hidden;
    background-color: #F7F8E0;
}

.navigation a{
    float: left;
    color: #000000;
    font-family: verdana;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Farbe bei Hover verändern */
.navigation a:hover {
    background-color: #F5DA81;
}

/* active class, andere Farbe */
.navigation a.active {
    background-color: #F7D358;
}
/* ENDE NAVIGATION*/

/* KARTEN */


#map_id2 {
    height: 90%;
    width: 90%;
    margin: auto;
}

/* Compare Map Container */
.container {
    width: 80%;
    height: 600px;
    margin: auto;
    padding: 10px;
}

.container_two {
    width: 80%;
    height: 600px;
    margin: auto;
    padding: 10px;
}

#map_id1 {
    height: 400px;
    width: 600px;
    float: left;
    margin-right: 10px;
}

#compareMapId {
    width: 600px;
    height: 400px;
}
/* ENDE KARTEN*/